<h2>Get updates on new music and videos.</h2>
<p> You'll get a welcome email, and never more than one email a month after that</p>

<div class="form">
<%= form_tag do %>
<fieldset>
	<legend> </legend>
	
	<div id = "email">
		<%= label_tag :email, "Email:"%>
		<%= email_field_tag :email, params[:email]%>
	</div>

	<div id = "button">
		<%= submit_tag 'Subscribe' %>
	</div>
</fieldset>
<%end%>
</div>
	
