// Place all the styles related to the Videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	text-align: center;
}

.square1 {
	float:left;
	position:relative;
	width: 40%;
	padding-bottom: 30%; /* = width for a square aspect ratio */
	margin-left:7.5%;
	margin-right:2.5;
	background-color: #1E1E1E;
}

.square2 {
	float:left;
	width: 40%;
	padding-bottom: 30%; /* = width for a square aspect ratio */
	margin-right:7.5%;
	margin-left:2.5%;
	background-color: #1E1E1E;
}

.content {
	position:absolute;
	overflow:auto;
	margin: auto;
	top: 0; left: 0; bottom: 0; right: 0;
}
//
//.table{
//    display:table;
//    height:100%;
//    width:100%;
//}
//.table-cell{
//    display:table-cell;
//    vertical-align:middle;
//    height:100%;
//    width:100%;
//}
